.checkout {
    max-width: 200px;
    height: 40%;
    /* margin: 0 auto;
    padding: 5px;
    background-color: #f8f8f8;
    
    border-radius: 5px; */
   
  }
  
  .cart-summary {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
 
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  button {
    background-color:#f08080 ;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #cd5c5c;
  }
  .check-form{

    margin:100px;
    border:1px solid black;
    display: grid;
    grid-gap: 10px;
  
 
   
   
   
  }

  
 
  .check-price{
    color: green;

  }
  .check-list{

    list-style: none;
  }
  