

.home-container {
    max-width: 100vw;
    max-height: 100vh;
    margin-bottom: 100px;
 
  }
  
  .carousel-item img {

    height: 80vh;
    object-fit: cover; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   
  }
  .home-text {
    color: white;
    font-size: 50px;
    animation: slideInFromLeft 1s ease forwards;
   
  }
  
  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  