.navbar {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 40px; 
    position: static;
    background-color:white; 
    border-bottom: 1px solid #e0e0e0; 
    position: fixed;
  
  }
  
  .navbar li {
    margin: 0; 
   
  }
  
  .navbar a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-right: 40px;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .navbar form {
    display: flex;
    align-items: center;
  }
  
  .navbar input {
    margin-right: 10px; 
  }
  
  
  .navbar button {
    margin-top: 0; 
  }
  .nav-item2{

    margin-left:20px;
  }
  