
/* Overall Container */
.popular-product-list-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.popular-product-header {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.popular-product-subtext {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

/* Grid Layout */
.popular-product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-content: center; /* Center the grid */
  margin: 0 auto;
}

/* Product Card Styles */
.popular-product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.popular-product-card:hover {
  transform: translateY(-5px); /* Slight lift on hover */
}

.popular-product-img-card {
  padding: 10px;
}

.popular-product-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.popular-product-details {
  padding: 10px;
  text-align: center;
}

.popular-product-name {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 10px 0;
}

.price {
  font-size: 1rem;
  color: #28a745;
}

.popular-product-rating .star {
  color: black;
  font-size: 1rem;
}
/* Category Buttons */
.popular-category-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.popular-category-button {
  /* background-color: #f4f4f4; */
  background-color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.popular-category-button:hover {
  background-color: black;
  transform: scale(1.05);
}

.popular-category-button.active {
  background-color: #ee105a; 
  color: white;
 
}


/* Responsive Styles */
@media (max-width: 1024px) {
  .popular-product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .popular-product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .popular-product-grid {
    grid-template-columns: 1fr;
  }

  .popular-product-header {
    font-size: 1.8rem;
  }
}


